@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #120855;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  
}

.searchTerm:focus{
  color: #120855;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #120855;
  background: #120855;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap{
  width: 75%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}