@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


body{
  background: #f2f2f2;
  font-family: "Poppins", "sans-serif";
}

form{
  margin:0px;
  padding:0px;
}

input[type = "text"]{
    font-size:14px;
    font-family:"Poppins", "san-serif"'
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}




.searchTerm {
  width: 100%;
  border: 3px solid #120855;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  
}
.searchTerm:focus {
    background: #fff;
    border: none;
    outline: 2px solid rgba(24, 11, 109, 0.8);
  }

/* .searchTerm:focus{
  color: #120855;
} */

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #120855;
  background: #120855;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap{
  width: 75%;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#footer {
  bottom: 0;
  color: #707070;
  height: 2em;
  left: 0;
  position: relative; 
  font-size: small;
  width:100%;
  text-align: center;
}

.nav-logo{
    margin-top: 30px;
    height:25vh;
    margin:auto;
    display:block;
    
}

.results_search{
    padding-top:1rem;
    position: absolute;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    width:100%;
  
    
}

.card{
    background-color:#326077;
    
    color:white;
    padding:25px;
    margin:4px;
    transition: transform .2s;
    border-radius: 5px;
    width:30%;
    overflow:auto;
    height:auto;
    overflow-y: scroll;
    font-size:auto;
   
}

.card h1{
  font-size: 16px;
}
.card h2{
  font-size: 14px;
}

.card:hover{
    -webkit-transform: scale(1,1);
    box-shadow: 0 40px 200px rgba(110, 150, 234, 0.2);
}
/* .resultCard:hover{
    transform: scale(1.1);
} */

.spacer{
  aspect-ratio: 900/400;
  width:120%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.layered_wave{
  background-image: url("../assets/layered-waves.svg");
  position: fixed;
}