@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.login-container-div .container {
  position: relative;
  max-width :430px;
  width :100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom :5em;
  margin-top :3em;
}

.login-container-div .container .forms {
  width :200%;
  display: flex;
  height :440px;
  align-items: center;
  transition: height 0.4s ease;
}

.login-container-div .container .form {
  width : 50%;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  transition: margin-left 0.36s ease;
}

.login-container-div .container.active .login {
  margin-left : -50%;
  opacity: 0;
  transition: margin-left 0.36s ease, opacity 0.3s ease;
}

.login-container-div .container .signup {
  opacity: 0;
  transition: opacity 0.18s ease;
}

.login-container-div .container.active .signup {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.login-container-div .container.active .forms {
  height : 600px;
}

.login-container-div .container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left : 0;
  bottom : 0;
  height : 3pX;
  width : 30px;
  background-color: #4070f4;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height : 50px;
  width : 100%;
  margin-top : 30px;
}

.input-field input {
  position: absolute;
  height : 100%;
  width : 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom : 2px solid #ccc;
  border-top : 2px solid transparent;
  transition: border-bottom-color 0.4s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color : #4070f4;
}

.input-field i {
  position: absolute;
  top :(50%);
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: color 0.4s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
}

.input-field i.icon {
  left :0;
}

.input-field i.showHidePw {
  right :0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  justify-content: space-between;
  margin-top :20;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: #4070f4;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #4070f4;
  text-decoration: none;
}

.form a {
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top :35;
}

.form .button input {
  border: none;
  color: black;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #fd636d;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button input:hover {
  background-color: #ff9299;
}

.form .login-signup {
  margin-top :(30);
  text-align: center;
}
