{% extends "layout.html" %}

{% block css %}
<!-- CSS FILES -->
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<link href="../static/css/dashboard/magnific-popup.css" rel="stylesheet">

<link href="../static/css/dashboard/templatemo-first-portfolio-style.css" rel="stylesheet">

<link href="../static/css/dashboard/search-bar.css" rel="stylesheet">
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<!-- Do your code here, this would be where the content of the website goes. -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>    
    </div>
</section>

<main>

    <section class="hero d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <div class="hero-text">
                        <div class="hero-title-wrap d-flex align-items-center mb-4">
                            <!-- <img src="../static/assets/stem_icon.png" class="avatar-image avatar-image-large img-fluid" alt=""> -->

                            <h1 class="hero-title mb-0">Welcome {{user_username}}!</h1>
                        </div>

                        <h2 style="font-size: 33px;" class="mb-4">{{interests}}</h2>
                        <p class="mb-4"><a class="custom-btn btn custom-link" href="#section_2">Take me to Account Profile -></a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-12 position-relative">
                    <img src="../static/assets/default_user_icon.jpg" class="hero-image img-fluid" alt="">
                </div>

            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#535da1" fill-opacity="1" d="M0,160L24,160C48,160,96,160,144,138.7C192,117,240,75,288,64C336,53,384,75,432,106.7C480,139,528,181,576,208C624,235,672,245,720,240C768,235,816,213,864,186.7C912,160,960,128,1008,133.3C1056,139,1104,181,1152,202.7C1200,224,1248,224,1296,197.3C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path></svg>
    </section>

    <section class="projects section-padding" id="section_4">
        <div class="container">
            <h1 class="mb-5" style="text-align: center;">Discover Mutual Peers</h1>
            
            <div class="mb-4" style="justify-content: center; display: flex;">
                <form onsubmit="event.preventDefault();" role="search">
                    <label for="search">Search for stuff</label>
                    <input id="search" type="search" placeholder="Search..." autofocus required />
                    <button type="submit">Go</button>    
                </form>
            </div>

            <div class="row">

                <div class="clearfix"></div>

                {% for p in people %}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="projects-thumb">
                        <div class="projects-info">
                            <small class="projects-tag">{{ p.interest }}</small>

                            <h3 class="projects-title">{{ p.username }}</h3>
                    
                        </div>

                        <a href="../static/assets/user_icons/{{ p.pfp }}" class="popup-image">
                            <img src="../static/assets/user_icons/{{ p.pfp }}" class="projects-image img-fluid" alt="">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

<!-- News Feed -->

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
<div class="container">
  <h2>What's Happening?</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Each Slide -->
    <div class="carousel-inner">
        {% for news in all_news %}   
            {% if loop.first %}
                <div class="item active">
                    <a href="{{ news.url }}">
                        <img src="{{ news.urlToImage }}" alt="Los Angeles" style="width:100%;">
                    </a>
                    <div class="carousel-caption">
                        <h3>{{ news.title }}</h3>
                        <p>{{ news.description }}</p>
                    </div>
                </div>
            {% else %}
                <div class="item">
                    <a href="{{ news.url }}">
                        <img src="{{ news.urlToImage }}" alt="Los Angeles" style="width:100%;">
                    </a>
                    <div class="carousel-caption">
                        <h3>{{ news.title }}</h3>
                        <p>{{ news.description }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

      <!-- <div class="item">
        <img src="../static/assets/sao1.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Title of news article.</h3>
          <p>Description of website here.</p>
        </div>
      </div>
    
      <div class="item">
        <img src="../static/assets/sao1.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Title of news article.</h3>
          <p>Description of website here.</p>
        </div>
      </div> -->
  
    </div>

    <!-- Left and Right Controls -->
    <a class="left carousel-control" style="z-index: 1000;" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" style="z-index: 1000;" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
    

{% endblock %}

{% block script %}
<!-- JAVASCRIPT FILES -->
<script src="../static/js/dashboard/jquery.min.js"></script>
<script src="../static/js/dashboard/jquery.sticky.js"></script>
<script src="../static/js/dashboard/click-scroll.js"></script>
<script src="../static/js/dashboard/jquery.magnific-popup.min.js"></script>
<script src="../static/js/dashboard/magnific-popup-options.js"></script>
<script src="../static/js/dashboard/custom.js"></script>
{% endblock %}