<!-- Essentially what you insert between the block and endblock
will be copy and pasted into layout.html between those corresponding blocks. -->

{% extends "layout.html" %}



{% block css %}
<link rel="stylesheet" href="../static/css/home.css"></link>
{% endblock %}



{% block title %}
Home
{% endblock %}



{% block content %}
<!-- Do your code here, this would be where the content of the website goes. -->
Home
{% endblock %}




{% block script %}
<script src="../static/js/home.js"></script>
{% endblock %}