<!-- Essentially what you insert between the block and endblock
will be copy and pasted into layout.html between those corresponding blocks. -->

<!DOCTYPE html>
<head>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/layout.css">
    <script src="https://kit.fontawesome.com/a1dc0f163e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/home.css"></link>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Home</title> 

</head>

<body>
    <!-- NAVBAR -->
    <div class="nav-wrapper">
        <div class="nav-logo-container">
            <img class="nav-logo" src="../static/assets/ypstem_logo.png" alt="Logo">
            <h3 class="text-white m-auto" style="font-weight: bold;">Youth Pioneers in STEM</h3>
        </div>
        <nav>
            <input class="hidden" type="checkbox" id="menuToggle">
            <label class="menu-btn" for="menuToggle">
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
            </label>
            <div class="nav-container">
                <ul class="nav-tab-list">
                </ul>
            </div>
        </nav>
    </div>
<!-- header -->
    <div class='header'>
        <div class='header_content'>
          <h1 id='headerTitle'>Stemlink</h1>
          <p id='stemlink_description'>Connecting like-minded individuals</p>
        </div>
        
    <!-- login -->
        <div class="login-container-div" style="margin:auto; padding-top:10vh;">
          <div class="container">
                  <div class="forms">
                      <div class="form login">
                          <span class="title">Login</span>
  
                          <!-- IGNORE THIS
                          {% if error is defined %}
                          <p style="color: red;">{{error}}</p>
                          {% endif %}
                          -->
  
                          <form action="{{ url_for('login') }}" method="post">
                              <div class="input-field">
                                  <input name="email" type="text" placeholder="Enter your email" required>
                                  <i class="uil uil-envelope"></i>
                              </div>
  
                              <div class="input-field">
                                  <input name="password" type="password" class="password" placeholder="Enter your password" required>
                                  <i class="uil uil-lock icon"></i>
                                  <i class="uil uil-eye-slash showHidePw"></i>
                              </div>
  
                              <div class="checkbox-text">
                                  <div class="checkbox-content">
                                      <input type="checkbox" id="logCheck">
                                      <label for="logCheck" class="text">Remember me</label>
                                  </div>
  
                                  <a href="#" class="text">Forgot password?</a>
                              </div>
  
                              <div class="input-field button">
                                  <input type="submit" value="Login Now">
                              </div>
                          </form>
  
                          <div class="login-signup">
                              <span class="text">Not a member?
                                  <a href="register" class="text signup-link">Signup now</a>
                              </span>
                          </div>
  
                      </div>
  
    <!-- register -->
                      <div class="form signup">
                          <span class="title">Registration</span>
  
                          <form action="#">
                              <div class="input-field">
                                  <input type="text" placeholder="Enter your name" required>
                                  <i class="uil uil-user"></i>
                              </div>
                              <div class="input-field">
                                  <input type="text" placeholder="Enter your email" required>
                                  <i class="uil uil-envelope"></i>
                              </div>
  
                              <div class="input-field">
                                  <input type="password" placeholder="Create a password" required>
                                  <i class="uil uil-lock icon"></i>
                              </div>
                              <div class="input-field">
                                  <input type="password" class="password" placeholder="Confirm a password" required>
                                  <i class="uil uil-lock icon"></i>
                                  <i class="uil uil-eye-slash showHidePw"></i>
                              </div>
                            
                              <div class="radio-text">
                                <div class="radio-content">
                                    <label >
                                        <input type = 'radio' name = 'question 1' value = 'student'>
                                        Student
                                    </label>

                                    <label id = "employer" >
                                        <input type = 'radio' name = 'question 1' value = 'employer'>
                                        Employer
                                    </label>
                                    
                                    
                                </div>
                            </div>

                              <div class="checkbox-text">
                                  <div class="checkbox-content">
                                      <input type="checkbox" id="signCheck">
                                      <label for="signCheck" class="text">I accept all terms & conditions</label>
                                  </div>
                              </div>
  
                              <div class="input-field button">
                                  <input type="button" value="Register Now">
                              </div>
                          </form>
  
                          <div class="login-signup">
                              <span class="text">Already have an account?
                                  <a href="#" class="text login-link">Login now</a>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        
    </div>
    
    <div class = 'homeAbout'>
        <h1>About Youth Pioneers in STEM</h1>
        <p>Youth Pioneers in STEM (YPStem) is a nonprofit organization with the goal of educating future leaders in society and helping students discover their passion in all fields of STEM via workshops, competitions, and other initiatives! We seek to spark passion within future leaders of society, and our organization truly advocates for accepting students from all backgrounds under one common interest. Stemlink is a YPStem initiative seeking to connect students with others who have similar interests and provide them with opportunities in STEM. </p>
    </div>

    <div class = 'whatWeDo'>
        <h1>What We Do</h1>
        <div class = 'wwdContent'>
        <div class = 'wwdExample'>
          <img src = '../static/assets/with_students.webp'>
          <h2>Student to Student</h2>
          <p>We connect students with other students who have similar interests</p>
        </div>
        <div class = 'wwdExample'>
          <img src = '../static/assets/with_recruiters.png'>
          <h2>Student to Recruiters</h2>
          <p>Connect recruiters with students who are looking for opportunities</p>
        </div>
        </div>  
      </div>
    
      <div class = 'pastProjects'>
        <h1>See What Our Users Have done</h1>
        <p>Look below user projects etc etc etc</p>
        <div class = 'row'>
          <div class ='project-col'>
            <h3>Project 1</h3>
            <p>Description of project. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi.</p>
          </div>
    
          <div class ='project-col'>
            <h3>Project 2</h3>
            <p>Description of project. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi.</p>
          </div>
    
    
          <div class ='project-col'>
            <h3>Project 3</h3>
            <p>Description of project. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi.</p>
          </div>
        </div>
        
      </div>
    
    <!--   Testimonials -->
    <section class="testim" id="testim">
      <h1>See What People Are Saying</h1>
            <div class="wrap">
    
               
                <div id="left-arrow" class="arrow left fa fa-chevron-left"></div>
    
               
    
                <div class="cont" id="testim-content">
    
                    <div class="active">
                      
                        <h2>Lorem N. Ipsum</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum      delniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                    </div>
                    
                    <div>
                 
                        <h2>Lorem L. Ipsum</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                            deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                    </div>
                    
                    <div>
                    
                        <h2>Lorem R. Ipsum</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                            deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                    </div>
                    
                    <div>
    
                        <h2>Lorem P. Ipsum</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                            deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                    </div>
                    
                    <div>
    
                        <h2>Lorem Q. Ipsum</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                            deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                    </div>
                </div>
             <div id="right-arrow" class="arrow right fa fa-chevron-right"></div>
           
       <ul class="dots" id="testim-dots">
             <li class="dot active"></li>
             <li class="dot"></li>
             <li class="dot"></li>
             <li class="dot"></li>
             <li class="dot"></li>
        </ul>
    </div>
    </section>
    <!-- FOOTER -->
    <footer class="section bg-footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="">
                        <h6 class="footer-heading font-weight-bold text-uppercase text-white">ABOUT US</h6>
                        <div class="mt-4 summary-info">
                            StemLink is a YPStem initiative, aiming to connect students to more STEM opportunities
                            and to collaborate on world-changing projects.
                        </div>
                        <p class="footer-alt mt-4 mb-0" style="font-size: 12px;">©2022 Youth Pioneers in Stem. All rights reserved. </p>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="">
                        <h6 class="footer-heading font-weight-bold text-uppercase text-white">Help</h6>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">Sign Up</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">YPStem</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="">
                        <h6 class="footer-heading font-weight-bold text-uppercase text-white">Contact Us</h6>
                        <p class="contact-info mt-4">Get in touch at contact@ypstem.org</p>
                        <div class="mt-4">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa-brands facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa-brands twitter footer-social-icon fa-twitter"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa-brands google footer-social-icon fa-google"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa-brands apple footer-social-icon fa-apple"></i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/js/home.js"></script>
    <script src="https://kit.fontawesome.com/8856d7fd6e.js" crossorigin="anonymous"></script>

</body>


