{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/profile.css"></link>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/a1dc0f163e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<body>
    <div class="container">
        
        <div class="main-body">  
            <!-- USER ICON -->
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <!-- not yet link to user icon -->
                        <img src="../static/assets/user_icons/default_user_icon.jpg" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                        <h4>{{info[0]}}</h4>
                        <p class="text-secondary mb-1">Interests</p>
                        <div class = 'interests'>
                            <!-- add functionality where you can append interests to this div later? -->
                            <p>{{info[1]}}</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="news">
                    {% for story in news%}
                        {% for s in story%}
                            <p>{{s[0]}}<p>
                            <p>{{s[2]}}</p>
                            <a href={{s[3]}}>{{s[3]}}</a>
                            <p>________________________________</p>
                        {%endfor%}
                    {% endfor %}
                </div>
             </div>
                <!-- CHANGE SETTINGS -->
                <div class="col-md-8">
                
                <div class="card mb-3">
                    <div class="user-info-card card-body">
                    <div class="user_info_container">
                    <div><h4 style="margin-bottom: 30px;">User Info</h4></div>
                    <div class="editProfile">
                        <form active="#" method="POST"> 
                            <input type="submit" id="submitbutton" name="change_page" value="Update">
                        </form>
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-sm-3">
                    <h6 class="mb-0">{{info[0]}}</h6>
                    </div>
                    <span class="username text-secondary edit_info">{{username}}</span>
                    <!-- <input class = 'userChange user_info_input' name="username" style = 'display:none' type = 'text' id="username"> -->
                </div>
            
                <hr>
                
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                    </div>
                    <span class=" email text-secondary edit_info">{{info[3]}}</span>
                    <!-- <input class = 'email_input user_info_input' style = 'display:none' type="email" id="email" name="email"> -->
                </div>
            
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Password</h6>
                    </div>
                    <span class="password text-secondary edit_info">{{info[2]}}</span>
                    <!-- <input class = 'password_input user_info_input'style = 'display:none' type="password" id="password" name="password"> -->
                </div>
            
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Age</h6>
                    </div>
                    <span class=" bio text-secondary edit_info">{{info[4]}}</span>
                    <!-- <input class = 'bio_input user_info_input' style = 'display:none' type="text" name="password"> -->
                </div>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">City Born In</h6>
                    </div>
                    <span class=" bio text-secondary edit_info">{{info[5]}} </span>
                    <!-- <input class = 'bio_input user_info_input' style = 'display:none' type="text" name="password"> -->
                </div>
                <input type="Submit" value="Submit" id="Profile Submit Button">
            
                

                
                
            </div>
  
        </div>
    </div>
    
</body>
{% endblock %}

{% block script %}
<script src="../static/js/profile.js"></script>
{% endblock %}