<!DOCTYPE html>
<html>
    <body>
        <form action="#" method="POST">
            <label for="username">Username Change:</label>
            <input type="text" name="username" >
            <br>
            <label for="password">Password Change:</label>
            <input type="text" name="password">
            <br>
            <label for="email">Email Change:</label>
            <input type="text" name="email">
            <br>
            <label for="Age">Age Change:</label>
            <input type="text" name="Age" >
            <br>
            <label for="City Born In">City Born In Change:</label>
            <input type="text" name="City Born In" >
            <br>
            <label for="interests">Interests Change (put different interests in commas):</label>
            <input type="text" name="interests" >
            <br> 
            <input type="submit" name="submit" value="Change your data">
        </form>
    </body>
</html>