{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/search.css"></link>
<script src="https://kit.fontawesome.com/a1dc0f163e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div class="wrap">
    <img class="nav-logo" src="../static/assets/ypstem_logo.png" alt="Logo">
    <div class="search">
       <input type="text" id="searchTerm" placeholder="Search">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>

    <div class="searchResultRow">
        <div class="resultCard">
            <img class = profile_pic src = "" alt = "Profile Pic">
            <p class = "user_info">[Name]</p>
            <p class = "user_info">[interests]</p>
            <p class = "user_info">[student/employer]</p>
        </div>


        <div class="resultCard">
            <img class = profile_pic src = "" alt = "Profile Pic">
            <p class = "user_info">[Name]</p>
            <p class = "user_info">[interests]</p>
            <p class = "user_info">[student/employer]</p>
        </div>

        <div class="resultCard">
            <img class = profile_pic src = "" alt = "Profile Pic">
            <p class = "user_info">[Name]</p>
            <p class = "user_info">[interests]</p>
            <p class = "user_info">[student/employer]</p>
        </div>
    </div>
</div>
 
Search
{% endblock %}

{% block script %}
<script src="../static/js/search.js"></script>
{% endblock %}