{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/search.css">

<script src="https://kit.fontawesome.com/a1dc0f163e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Search
{% endblock %}

{% block content %}

<div class = "spacer layered_wave"></div>

<div class="wrap">
    
    <img class="nav-logo" src="../static/assets/ypstem_logo.png" alt="Logo">
    <form method="post"> 
    <div class="search">
       <input type="text" class="searchTerm" id="term" name="term" placeholder="What are you searching for?">
       <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
       <!-- <input type="submit" class="searchButton btn fa-input" value="&#f002 Input"> -->
        <!-- <i class="fa fa-search"></i> -->
      </form>
    
    </div>

    <div class="results_search">
      {%for i in people%}
        {% for person in i%}
          <div class="card">
            <h1>Name:{{person[0]}}</h1>
            <h2>Interests:{{person[1]}}</h1>
          
            <h2>Email:{{person[3]}}</h1>
            <h2>Age:{{person[4]}}</h1>
            <h2>Residence Area:{{person[5]}}</h1>
          </div>
        {%endfor%}
      {%endfor%}
    </div>
</div>

{% endblock %}

{% block script %}
<script src="../static/js/search.js"></script>
{% endblock %}