{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/search.css"></link>
<script src="https://kit.fontawesome.com/a1dc0f163e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you searching for?">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>
Search
{% endblock %}

{% block script %}
<script src="../static/js/search.js"></script>
{% endblock %}